
.main{
    width:100%; height: 400px; background-color: aqua;
    font-size: 30px; font-weight: bold; display: flex; justify-content: center; align-items: flex-end;
}
.item{ width: 50px; height: 50px; background-color: white; padding: 10px; border: 1px black solid; margin: 15px; display: flex;
    justify-content: center; align-items: center; border-radius: 15px;
}
.main span .item{
    background-color: yellow;
    display: none;
    transition: 1.5s ease-in
}
.main .item:hover{
    background-color: beige;
}
.main .hi:hover +span .bye { display: flex;

}
/* .main1{            width: auto; height: auto; background-color: aqua;
    font-size: 30px; font-weight: bold; display: flex; justify-content: space-around; margin-top: 30px;
}
.main2{            width: auto; height: auto; background-color: aqua;
    font-size: 30px; font-weight: bold; display: flex; justify-content: space-evenly; margin-top: 30px;

}
.main3{            width: auto; height: auto; background-color: aqua;
    font-size: 30px; font-weight: bold; display: flex; justify-content: space-between; margin-top: 30px;
}
.item1{background-color: white; margin: 10px; padding: 10px; border: 1px black solid;
}
.item2{background-color: white; margin: 10px; padding: 10px; border: 1px black solid;
}
.item3{background-color: white; margin: 10px; padding: 10px; border: 1px black solid; */
/* } */